*{
	padding:0px;
	margin:0px;
	box-sizing: border-box;
}

button{
	width: 100%;
	margin: 1rem auto;
	padding: .8rem;
  font-size: 1.6rem;
  color: #fff;
  border:none; 
  cursor: pointer;
}

#resend{
	width: 70%;
	margin: 1rem auto;
	padding: .8rem;
  font-size: 1.6rem;
  color: #000000;
  border-color: #000000;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
}