*{
	padding:0px;
	margin:0px;
	box-sizing: border-box;
}

#load {
	background-image: url("../img/lyftFondo.jpg");
	background-size: cover;
	background-position: center;
	position: absolute;
	z-index: 200;
	width: 100vw;
	height: 100vh;
}

#registro{
	width: 100vw;
	height: 100vh;
	background-image: url(../img/calles.gif);
	background-size: cover;
	background-repeat: no-repeat;
}

img{
	width: 50%;
	height: 30%;
}

.botones {
  padding: 1rem;
  width: 100%;
  float: right;
  font-size: 1.2rem;
  position: absolute;
  bottom: 1rem;
}

button {
  width: 100%;
  border-color: rgba(255,255,255,0.23);
  margin: 1rem auto;
	padding: .8rem;
  font-size: 1.6rem;
  color: #fff;
  border-radius: 4px; 
  cursor: pointer;
}

#logIn {
	background-color: transparent;
}

#signUp{
	border:none;
	background: #AA076B; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #AA076B , #61045F); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #AA076B , #61045F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
}
