html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#map {
  height: 100%;
  width: 100vw;
}

.menu-bars{
	margin-left: 2%;
}

a{
	text-decoration:none;
	color: #fff;
}

.userView{
	background-image: url(../img/pikafondo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}